p {
    text-align:center;
    font-size: 15px;
     width: 200px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 820px;
    font-family:'Josefin Sans', sans-serif;
    padding: 2em 3em 0 3em; 

}

a {

text-align:center;
    font-size: 15px;

}


* {
    margin: 5;
    padding: 10;
}

body {
    background-color: white;
  
} 



h1,h2,h3,h4,h5,h6
{
    padding: 10px;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 30px;
    font-size: 20px
       
}
h2 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px
       
}


h3 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px

       
}

h4 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px
       
}
h5 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px
       
}

h6 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px
       
}

h6 {
    color: black;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    word-spacing: 10px;
    font-size: 20px
       
}



li{
font-family:'Josefin Sans', sans-serif;
font-weight: bold;

}
 
img {
    opacity: 0.5;
    img-align: center;
}

img:hover {
    opacity: 1.0;
  
}

ul {
    background: #white;
    padding: 10px;
    margin: 0% 40% 0% 40%;
    font-weight: bold 
    font-family :'Josefin Sans', sans-serif;
;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#myHeader {


}



